<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/NWCulverFarms.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/NWCulverFarms.min.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>

